<!-- <nav class="navbar navbar-dark bg-dark mb-5"> -->
<nav class="navbar navbar-dark" style="background-color: rgb(12, 128, 136);">
  <a class="navbar-brand" [routerLink]="['/']">AnduEngine</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#"></a>
      <a class="nav-item nav-link" href="#"></a>
      <a class="nav-item nav-link" href="#"></a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav" routerLinkActive="active">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link"  [routerLink]="['login']">
        <i class="fa fa-sign-in" > SE CONNECTER</i>
      </a> -->
      <!-- <a class="nav-item nav-link"  [routerLink]="['register']">
        <i class="fa fa-user-plus"> S'INSCRIRE</i>
      </a> -->
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
