<br>
<div class="container">
  <div class="jumbotron">
    <h2>TEST: DEVELOPPEMENT</h2>
    <p>
      Répondre aux questions suivantes pour valider votre test
    </p>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      Question #1
    </div>
    <div class="card-body">
      <p class="card-text">C'est quoi la programmation ? </p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          c'est un langage
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          First radio
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          First radio
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          First radio
        </label>
      </div>
    </div>
  </div>
  <br>

  <div class="card">
    <div class="card-header">
      Question #2
    </div>
    <div class="card-body">
      <p class="card-text">C'est quoi la programmation ? </p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          c'est un langage
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          First radio
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          First radio
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          First radio
        </label>
      </div>
    </div>
  </div>
  <br>


  <div class="card">
    <div class="card-header">
      Question #3
    </div>
    <div class="card-body">
      <p class="card-text">C'est quoi le "blockChainning"? </p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          c'est un langage
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          First radio
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          First radio
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          First radio
        </label>
      </div>
    </div>
  </div>
  <br>


  <div class="card">
    <div class="card-header">
      Question #4
    </div>
    <div class="card-body">
      <p class="card-text">C'est quoi la programmation ? </p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          c'est un langage
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          First radio
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          First radio
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          First radio
        </label>
      </div>
    </div>
  </div>
  <br>

  <div class="card">
    <div class="card-header">
      Question #5
    </div>
    <div class="card-body">
      <p class="card-text">C'est quoi la programmation ? </p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          c'est un langage
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          Communiquer avec la machine
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          First radio
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios">
        <label class="form-check-label" for="gridRadios">
          Lorenzo Wendy
        </label>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <button class="btn btn-lg btn-primary btn-block" type="submit" href="">VALIDER</button>
</div>